body{
    background-color: OldLace;
}
table,td,th{
    border:1px solid black;
}

table{
    width:100%;
}

/* td{
    width: 100%;
} */

th{
    height: auto;
    /* width: 10em; */
    color: #ffffff;
    background-color: gray;
}

/* td.image{
    width: 10em;
} */

caption{
    font-size: larger;
    color: #ffffff;
    background-color: black;
}


.button{
    display:inline-block;
    
    padding: 15px 25px;

    font-size: 30px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white;
    background-color: green;
    
}

.button1{
    background-color: white;
    color: black;
    border: 2px solid green;
}

.button1:active{
    background-color: #3e8e41;
    transform: translateY(4px);
}


.button1:hover{
    background-color: green;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 raba(0,0,0,0.19);
}

.button2{
    background-color: white;
    color: black;
    border: 2px solid blue;
}

.button2:hover{
    background-color: blue;
    color: white;
}

.button2:active{
    background-color: blue;
    transform: translateY(4px);
}

.button3{
    background-color: white;
    color: black;
    border: 2px solid red;
}

.button3:hover{
    background-color: red;
    color: white;
}

.button3:active{
    background-color: red;
    transform: translateY(4px);
}

.button4{
    background-color: white;
    color: black;
    border: 2px solid gray;
}

.button4:hover{
    background-color: gray;
    color: white;
}

.button4:active{
    background-color: gray;
    transform: translateY(4px);
}

.button5{
    background-color: white;
    color: black;
    border: 2px solid black;
}

.button5:hover{
    background-color: black;
    color: white;
}

.button5:active{
    background-color: black;
    transform: translateY(4px);
}